In [1]:
import krippendorff
import numpy as np
import pandas as pd

In [ ]:
train_file_path = f'D:/UU/Sem3/SDM/social_data_mining/data/train.xlsx'
excel_data = pd.ExcelFile(train_file_path)
sheet_names = excel_data.sheet_names
print("Sheet names: ", sheet_names)

Sheet names:  ['INSTRUCTIONS', 'CODER1', 'CODER2', 'CODER3']

In [ ]:
train_coder1_df = pd.read_excel(train_file_path, sheet_name=sheet_names[1])
train_coder2_df = pd.read_excel(train_file_path, sheet_name=sheet_names[2])
train_coder3_df = pd.read_excel(train_file_path, sheet_name=sheet_names[3])

In [17]:
train_coder1_df.head()

                   ID  CODE                                               TEXT
0  672233899615850496  -1.0  Piece for @TheWorldPost: 2 wars connected by c...
1  672231727952072704   0.0  Soils and #Ocean Omitted From Paris #COP21 Age...
2  672231250329919488   0.0  To reverse the Ephedrine Disinformation,@UN mu...
3  672229503696019456   0.0  See photos &amp; highlights from #COP21 side e...
4  672229362708561921   0.0  Our own Ben Parr writes for SBS News on India'...

In [18]:
train_coder2_df.head()

                   ID  CODE                                               TEXT
0  672233899615850496  -1.0  Piece for @TheWorldPost: 2 wars connected by c...
1  672231727952072704  -1.0  Soils and #Ocean Omitted From Paris #COP21 Age...
2  672231250329919488   1.0  To reverse the Ephedrine Disinformation,@UN mu...
3  672229503696019456   1.0  See photos &amp; highlights from #COP21 side e...
4  672229362708561921   0.0  Our own Ben Parr writes for SBS News on India'...

In [19]:
train_coder3_df.head()

                   ID  CODE                                               TEXT
0  672233899615850496   0.0  Piece for @TheWorldPost: 2 wars connected by c...
1  672231727952072704   0.0  Soils and #Ocean Omitted From Paris #COP21 Age...
2  672231250329919488   1.0  To reverse the Ephedrine Disinformation,@UN mu...
3  672229503696019456   0.0  See photos &amp; highlights from #COP21 side e...
4  672229362708561921   1.0  Our own Ben Parr writes for SBS News on India'...

In [27]:
train_merge_1_2_df = train_coder1_df.merge(train_coder2_df, on='ID', suffixes=("_1", "_2"))
train_merge_1_2_df = train_merge_1_2_df.drop(columns=["TEXT_2"]).rename(columns={"TEXT_1": "TEXT"})
train_merge_1_2_df.head()

,ID,CODE_1,TEXT,CODE_2
0,672233899615850496,-1.0,Piece for @TheWorldPost: 2 wars connected by c...,-1.0
1,672231727952072704,0.0,Soils and #Ocean Omitted From Paris #COP21 Age...,-1.0
2,672231250329919488,0.0,"To reverse the Ephedrine Disinformation,@UN mu...",1.0
3,672229503696019456,0.0,See photos &amp; highlights from #COP21 side e...,1.0
4,672229362708561921,0.0,Our own Ben Parr writes for SBS News on India'...,0.0

In [28]:
train_coder3_df_copy = train_coder3_df.copy().drop(columns=["TEXT"]).rename(columns={"CODE": "CODE_3"})
train_merge_1_2_3_df = train_merge_1_2_df.merge(train_coder3_df_copy, on='ID')
train_merge_1_2_3_df.head()

,ID,CODE_1,TEXT,CODE_2,CODE_3
0,672233899615850496,-1.0,Piece for @TheWorldPost: 2 wars connected by c...,-1.0,0.0
1,672231727952072704,0.0,Soils and #Ocean Omitted From Paris #COP21 Age...,-1.0,0.0
2,672231250329919488,0.0,"To reverse the Ephedrine Disinformation,@UN mu...",1.0,1.0
3,672229503696019456,0.0,See photos &amp; highlights from #COP21 side e...,1.0,0.0
4,672229362708561921,0.0,Our own Ben Parr writes for SBS News on India'...,0.0,1.0

In [20]:
test_file_path = f'D:/UU/Sem3/SDM/social_data_mining/data/test.xlsx'
test_excel_data = pd.ExcelFile(test_file_path)
sheet_names = test_excel_data.sheet_names
print("Sheet names: ", sheet_names)

Sheet names:  ['INSTRUCTIONS', 'CODER1', 'CODER2', 'CODER3']

In [21]:
test_coder1_df = pd.read_excel(test_file_path, sheet_name=sheet_names[1])
test_coder2_df = pd.read_excel(test_file_path, sheet_name=sheet_names[2])
test_coder3_df = pd.read_excel(test_file_path, sheet_name=sheet_names[3])

In [22]:
test_coder1_df.head()

                   ID  CODE                                               TEXT
0  675826762543140864   1.0  @AmedeusKizito I massive milestone in helping ...
1  675826724605730816   1.0  https://t.co/hZwEOmVXpW  Time now for Ireland ...
2  675826603977515008   1.0  Very proud of my country today #France #Succes...
3  675826598772248576  -1.0  Brain farts of an angry and an ignorant man ht...
4  675826488755617793   1.0  I am honestly looking forward to spending a fe...

In [23]:
test_coder2_df.head()

                   ID  CODE                                               TEXT
0  675826762543140864   1.0  @AmedeusKizito I massive milestone in helping ...
1  675826724605730816   1.0  https://t.co/hZwEOmVXpW  Time now for Ireland ...
2  675826603977515008   1.0  Very proud of my country today #France #Succes...
3  675826598772248576  -1.0  Brain farts of an angry and an ignorant man ht...
4  675826488755617793   0.0  I am honestly looking forward to spending a fe...

In [24]:
test_coder3_df.head()

                   ID  CODE                                               TEXT
0  675826762543140864   1.0  @AmedeusKizito I massive milestone in helping ...
1  675826724605730816   1.0  https://t.co/hZwEOmVXpW  Time now for Ireland ...
2  675826603977515008   1.0  Very proud of my country today #France #Succes...
3  675826598772248576  -1.0  Brain farts of an angry and an ignorant man ht...
4  675826488755617793   1.0  I am honestly looking forward to spending a fe...

In [15]:
dict_path = f"D:/UU/Sem3/SDM/social_data_mining/data/COPSentimentDict.xlsx"
dict_df = pd.read_excel(dict_path)
cop_dict = dict_df.to_dict(orient="records")
cop_dict

[{'TERM': 'acting', 'SENTIMENT': 0.0},
 {'TERM': 'action', 'SENTIMENT': 1.0},
 {'TERM': 'advice', 'SENTIMENT': 0.0},
 {'TERM': 'Agreement', 'SENTIMENT': 1.0},
 {'TERM': 'artwork', 'SENTIMENT': 1.0},
 {'TERM': 'assaults', 'SENTIMENT': -1.0},
 {'TERM': 'background', 'SENTIMENT': 1.0},
 {'TERM': 'battles', 'SENTIMENT': -1.0},
 {'TERM': 'believe', 'SENTIMENT': 0.0},
 {'TERM': 'benefits', 'SENTIMENT': 1.0},
 {'TERM': 'bogeyman', 'SENTIMENT': 1.0},
 {'TERM': 'brandalism', 'SENTIMENT': 1.0},
 {'TERM': 'breakdown', 'SENTIMENT': 1.0},
 {'TERM': 'breakthrough', 'SENTIMENT': 1.0},
 {'TERM': 'bring', 'SENTIMENT': 0.0},
 {'TERM': 'broken', 'SENTIMENT': -1.0},
 {'TERM': 'caring', 'SENTIMENT': 1.0},
 {'TERM': 'Chemtrails', 'SENTIMENT': -1.0},
 {'TERM': 'circulate', 'SENTIMENT': 0.0},
 {'TERM': 'clean', 'SENTIMENT': -1.0},
 {'TERM': 'climbing', 'SENTIMENT': -1.0},
 {'TERM': 'coal', 'SENTIMENT': -1.0},
 {'TERM': 'community', 'SENTIMENT': 1.0},
 {'TERM': 'confident', 'SENTIMENT': 0.0},
 {'TERM': 'conservationist', 'SENTIMENT': -1.0},
 {'TERM': 'contribute', 'SENTIMENT': 1.0},
 {'TERM': 'cool', 'SENTIMENT': 1.0},
 {'TERM': 'courage', 'SENTIMENT': 1.0},
 {'TERM': 'coverage', 'SENTIMENT': 1.0},
 {'TERM': 'critical', 'SENTIMENT': 1.0},
 {'TERM': 'de-carbonisation', 'SENTIMENT': 1.0},
 {'TERM': 'deforestation', 'SENTIMENT': -1.0},
 {'TERM': 'degradation', 'SENTIMENT': -1.0},
 {'TERM': 'demand', 'SENTIMENT': 1.0},
 {'TERM': 'denier', 'SENTIMENT': -1.0},
 {'TERM': 'destroy', 'SENTIMENT': -1.0},
 {'TERM': 'destruction', 'SENTIMENT': -1.0},
 {'TERM': 'detail', 'SENTIMENT': 0.0},
 {'TERM': 'disappearing', 'SENTIMENT': -1.0},
 {'TERM': 'disconnect', 'SENTIMENT': -1.0},
 {'TERM': 'discuss', 'SENTIMENT': 0.0},
 {'TERM': 'disinformation', 'SENTIMENT': 1.0},
 {'TERM': 'divesting', 'SENTIMENT': 1.0},
 {'TERM': 'economic', 'SENTIMENT': 1.0},
 {'TERM': 'edition', 'SENTIMENT': -1.0},
 {'TERM': 'efficiency', 'SENTIMENT': 1.0},
 {'TERM': 'elevate', 'SENTIMENT': 1.0},
 {'TERM': 'evil', 'SENTIMENT': -1.0},
 {'TERM': 'excellent', 'SENTIMENT': -1.0},
 {'TERM': 'failure', 'SENTIMENT': -1.0},
 {'TERM': 'flooding', 'SENTIMENT': 0.0},
 {'TERM': 'fodder', 'SENTIMENT': -1.0},
 {'TERM': 'forests', 'SENTIMENT': 1.0},
 {'TERM': 'forward', 'SENTIMENT': 1.0},
 {'TERM': 'fun', 'SENTIMENT': 1.0},
 {'TERM': 'fund', 'SENTIMENT': 1.0},
 {'TERM': 'funding', 'SENTIMENT': 1.0},
 {'TERM': 'future', 'SENTIMENT': -1.0},
 {'TERM': 'Geoengineering', 'SENTIMENT': 1.0},
 {'TERM': 'glimpse', 'SENTIMENT': 0.0},
 {'TERM': 'globalwarming', 'SENTIMENT': 1.0},
 {'TERM': 'great', 'SENTIMENT': 1.0},
 {'TERM': 'great', 'SENTIMENT': 1.0},
 {'TERM': 'gun', 'SENTIMENT': 1.0},
 {'TERM': 'halt', 'SENTIMENT': -1.0},
 {'TERM': 'haze', 'SENTIMENT': 1.0},
 {'TERM': 'head', 'SENTIMENT': 1.0},
 {'TERM': 'highlights', 'SENTIMENT': 1.0},
 {'TERM': 'historic', 'SENTIMENT': -1.0},
 {'TERM': 'hope', 'SENTIMENT': 1.0},
 {'TERM': 'hope', 'SENTIMENT': -1.0},
 {'TERM': 'hot', 'SENTIMENT': -1.0},
 {'TERM': 'inaction', 'SENTIMENT': 1.0},
 {'TERM': 'increase', 'SENTIMENT': 1.0},
 {'TERM': 'inequality', 'SENTIMENT': -1.0},
 {'TERM': 'informative', 'SENTIMENT': -1.0},
 {'TERM': 'informative', 'SENTIMENT': nan},
 {'TERM': 'initiatives', 'SENTIMENT': -1.0},
 {'TERM': 'insights', 'SENTIMENT': 0.0},
 {'TERM': 'inspiring', 'SENTIMENT': 1.0},
 {'TERM': 'issues', 'SENTIMENT': 1.0},
 {'TERM': 'join', 'SENTIMENT': -1.0},
 {'TERM': 'killing', 'SENTIMENT': -1.0},
 {'TERM': 'Leaders', 'SENTIMENT': -1.0},
 {'TERM': 'legal form', 'SENTIMENT': 0.0},
 {'TERM': 'like', 'SENTIMENT': 0.0},
 {'TERM': 'live', 'SENTIMENT': 0.0},
 {'TERM': 'mankind', 'SENTIMENT': 0.0},
 {'TERM': 'marching', 'SENTIMENT': 0.0},
 {'TERM': 'meaningless', 'SENTIMENT': -1.0},
 {'TERM': 'meet', 'SENTIMENT': 0.0},
 {'TERM': 'meeting', 'SENTIMENT': 0.0},
 {'TERM': 'melt', 'SENTIMENT': -1.0},
 {'TERM': 'migration', 'SENTIMENT': -1.0},
 {'TERM': 'milestone', 'SENTIMENT': 1.0},
 {'TERM': 'militarized', 'SENTIMENT': 1.0},
 {'TERM': 'mitigate', 'SENTIMENT': -1.0},
 {'TERM': 'momentous', 'SENTIMENT': 1.0},
 {'TERM': 'most', 'SENTIMENT': 0.0},
 {'TERM': 'negotiable', 'SENTIMENT': 1.0},
 {'TERM': 'nothing', 'SENTIMENT': -1.0},
 {'TERM': 'Obama', 'SENTIMENT': 1.0},
 {'TERM': 'omitted', 'SENTIMENT': 1.0},
 {'TERM': 'planet', 'SENTIMENT': 1.0},
 {'TERM': 'policy', 'SENTIMENT': 1.0},
 {'TERM': 'positive', 'SENTIMENT': 1.0},
 {'TERM': 'potential', 'SENTIMENT': 0.0},
 {'TERM': 'powerful', 'SENTIMENT': 1.0},
 {'TERM': 'pray', 'SENTIMENT': 1.0},
 {'TERM': 'Preparing', 'SENTIMENT': 0.0},
 {'TERM': 'program ', 'SENTIMENT': 0.0},
 {'TERM': 'protesters', 'SENTIMENT': -1.0},
 {'TERM': 'protests', 'SENTIMENT': -1.0},
 {'TERM': 'proud', 'SENTIMENT': -1.0},
 {'TERM': 'put', 'SENTIMENT': 0.0},
 {'TERM': 'Read', 'SENTIMENT': 0.0},
 {'TERM': 'reliable', 'SENTIMENT': 1.0},
 {'TERM': 'renewable', 'SENTIMENT': 1.0},
 {'TERM': 'research', 'SENTIMENT': 1.0},
 {'TERM': 'resilient', 'SENTIMENT': 0.0},
 {'TERM': 'responsible', 'SENTIMENT': 1.0},
 {'TERM': 'revolutionary', 'SENTIMENT': -1.0},
 {'TERM': 'rhetoric', 'SENTIMENT': 1.0},
 {'TERM': 'rights', 'SENTIMENT': 1.0},
 {'TERM': 'riot', 'SENTIMENT': -1.0},
 {'TERM': 'rockin', 'SENTIMENT': -1.0},
 {'TERM': 'saddest', 'SENTIMENT': -1.0},
 {'TERM': 'scandal', 'SENTIMENT': -1.0},
 {'TERM': 'serious', 'SENTIMENT': -1.0},
 {'TERM': 'severe', 'SENTIMENT': 1.0},
 {'TERM': 'sh1t', 'SENTIMENT': -1.0},
 {'TERM': 'showing', 'SENTIMENT': 1.0},
 {'TERM': 'solutions', 'SENTIMENT': -1.0},
 {'TERM': 'state', 'SENTIMENT': -1.0},
 {'TERM': 'step', 'SENTIMENT': -1.0},
 {'TERM': 'stop', 'SENTIMENT': 1.0},
 {'TERM': 'strong', 'SENTIMENT': 1.0},
 {'TERM': 'subsidies', 'SENTIMENT': 1.0},
 {'TERM': 'suffering', 'SENTIMENT': -1.0},
 {'TERM': 'support', 'SENTIMENT': 0.0},
 {'TERM': 'supporting', 'SENTIMENT': 1.0},
 {'TERM': 'target', 'SENTIMENT': 0.0},
 {'TERM': 'tear', 'SENTIMENT': -1.0},
 {'TERM': 'Test', 'SENTIMENT': 0.0},
 {'TERM': 'thanks', 'SENTIMENT': 0.0},
 {'TERM': 'think ', 'SENTIMENT': 1.0},
 {'TERM': 'threat', 'SENTIMENT': -1.0},
 {'TERM': 'threatens', 'SENTIMENT': -1.0},
 {'TERM': 'thwart', 'SENTIMENT': 0.0},
 {'TERM': 'together', 'SENTIMENT': 0.0},
 {'TERM': 'toxis', 'SENTIMENT': 0.0},
 {'TERM': 'trench', 'SENTIMENT': 0.0},
 {'TERM': 'understand', 'SENTIMENT': -1.0},
 {'TERM': 'update', 'SENTIMENT': 0.0},
 {'TERM': 'updates', 'SENTIMENT': 0.0},
 {'TERM': 'violation', 'SENTIMENT': -1.0},
 {'TERM': 'violent', 'SENTIMENT': -1.0},
 {'TERM': 'visit', 'SENTIMENT': nan},
 {'TERM': 'vulnerable', 'SENTIMENT': -1.0},
 {'TERM': 'war', 'SENTIMENT': -1.0},
 {'TERM': 'warning', 'SENTIMENT': -1.0},
 {'TERM': 'warns', 'SENTIMENT': -1.0},
 {'TERM': 'wars', 'SENTIMENT': -1.0},
 {'TERM': 'waste', 'SENTIMENT': -1.0},
 {'TERM': 'watch', 'SENTIMENT': 0.0},
 {'TERM': 'water', 'SENTIMENT': 0.0},
 {'TERM': 'woman', 'SENTIMENT': 0.0},
 {'TERM': 'world', 'SENTIMENT': 0.0}]

### Krippendorf

In [29]:
annotations = train_merge_1_2_3_df[['CODE_1', 'CODE_2', 'CODE_3']].to_numpy()
annotations

array([[-1., -1.,  0.],
       [ 0., -1.,  0.],
       [ 0.,  1.,  1.],
       ...,
       [nan,  0.,  0.],
       [nan,  0.,  0.],
       [nan, -1.,  1.]])

In [31]:
alpha = krippendorff.alpha(annotations, level_of_measurement='nominal')
print("Inter-annotator agreement: ", alpha)

Inter-annotator agreement:  0.0012539556100379379

## Part-4

### Task 4.1

Our different types of actors are Actors who are "Private Individuals" and "Business Actors"

In [2]:
from text_mining.data import get_research_dataframe

from sdm.config import get_db_connection

In [3]:
conn = get_db_connection(db_path="D:/UU/Sem3/SDM/social_data_mining/data/twitter.db")
df = get_research_dataframe(db=conn)
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26019 entries, 0 to 26018
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   account_id    26019 non-null  object
 1   tweet_text    26019 non-null  object
 2   account_type  26019 non-null  object
 3   lang          26019 non-null  object
 4   stance        25480 non-null  object
dtypes: object(5)
memory usage: 1016.5+ KB
None

,account_id,tweet_text,account_type,lang,stance
0,77254498,"""@ComposerCorner I am proud to be a #climatech...",Private individuals,en,For
1,77254498,#ActionDay ~ Blog ~ Greener Green Gifts ~ htt...,Private individuals,en,For
2,77254498,#Agnotology ~ @Ecojustice files complaint w/Co...,Private individuals,en,For
3,77254498,#AsPredicted ~ @Canada wins #FossiloftheDay ~ ...,Private individuals,en,For
4,77254498,#AusPol ~ #COP21 ~ #MentalHealth of #Australia...,Private individuals,en,For

### Task 4.2

In [4]:
from text_mining.utils import preprocess_tweets
from sklearn.feature_extraction.text import CountVectorizer

d:\UU\Sem3\SDM\social_data_mining\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\anand\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\anand\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\anand\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [5]:
df['text'] = preprocess_tweets(df['tweet_text'])
df.head(10)

,account_id,tweet_text,account_type,lang,stance,text
0,77254498,"""@ComposerCorner I am proud to be a #climatech...",Private individuals,en,For,composercorner proud climatechange denier yes ...
1,77254498,#ActionDay ~ Blog ~ Greener Green Gifts ~ htt...,Private individuals,en,For,actionday blog greener green gift http co o2f6...
2,77254498,#Agnotology ~ @Ecojustice files complaint w/Co...,Private individuals,en,For,agnotology ecojustice file complaint w competi...
3,77254498,#AsPredicted ~ @Canada wins #FossiloftheDay ~ ...,Private individuals,en,For,aspredicted canada win fossiloftheday get bett...
4,77254498,#AusPol ~ #COP21 ~ #MentalHealth of #Australia...,Private individuals,en,For,auspol cop21 mentalhealth australian wheat far...
5,77254498,#CES2016 ~ Less-Smart Cars? https://t.co/KXUa...,Private individuals,en,For,ces2016 less smart car http co kxuamqzdfw desi...
6,77254498,#CES2016 ~ Less-Smart Cars? https://t.co/KXUa...,Private individuals,en,For,ces2016 less smart car http co kxuamqzdfw desi...
7,77254498,#COP21 #Music ~ Be an ~ Earthizen ~ c/o @MrChu...,Private individuals,en,For,cop21 music earthizen c mrchuckd http co pbbzd...
8,77254498,#COP21 ..... ..... ...... yawn ...... #CdnPoli,Private individuals,en,For,cop21 yawn cdnpoli
9,77254498,"#COP21 Blog ~ Dear Journalism, ~ https://t.co/...",Private individuals,en,For,cop21 blog dear journalism http co gaa3yxlegj ...

In [6]:
vectorizer = CountVectorizer(stop_words='english')
X = vectorizer.fit_transform(df['text'])
word_counts = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())
word_counts["account_type"] = df["account_type"]

word_counts.head()

,00,000,000ha,000mw,000s,000th,001,004nino,00am,00b9cfiarb,...,𝗲𝘅𝗽𝗲𝗰𝘁𝗲𝗱,𝗴𝗹𝗼𝗯𝗮𝗹,𝗶𝘀,𝗻𝗲𝘄,𝗽𝗲𝗿𝗰𝗲𝗻𝘁,𝗿𝗲𝗻𝗲𝘄𝗮𝗯𝗹𝗲,𝘀𝗮𝗶𝗱,𝘄𝗮𝗿𝗺𝗶𝗻𝗴,𝟭𝟬𝟬,account_type
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Private individuals
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Private individuals
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Private individuals
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Private individuals
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Private individuals

In [7]:
grouped_counts = word_counts.groupby("account_type").sum()
total_counts = grouped_counts.sum(axis=0)
print(total_counts)

00            58
000          139
000ha          1
000mw          2
000s           1
            ...
𝗽𝗲𝗿𝗰𝗲𝗻𝘁        1
𝗿𝗲𝗻𝗲𝘄𝗮𝗯𝗹𝗲      1
𝘀𝗮𝗶𝗱           2
𝘄𝗮𝗿𝗺𝗶𝗻𝗴        1
𝟭𝟬𝟬            1
Length: 43680, dtype: int64

In [8]:
# Log-odds is used to score and rank words

alpha = 1   # Smoothning parameter
log_odds = np.log((grouped_counts + alpha) / (grouped_counts.sum(axis=1).values[:, None] - grouped_counts + alpha)) - \
           np.log((total_counts + alpha) / (total_counts.sum() - total_counts + alpha))
           
log_odds = pd.DataFrame(log_odds.T, index=vectorizer.get_feature_names_out(), columns=grouped_counts.index)

In [9]:
log_odds.head()

account_type  Business actors  Private individuals
00                   0.068582            -0.011991
000                 -0.360344             0.159221
000ha                1.055076            -0.265186
000mw                0.649608             0.022497
000s                 1.055076            -0.265186

In [10]:
top_words = log_odds.apply(lambda x: x.nlargest(10).index, axis=0)
print(top_words)

account_type  Business actors  Private individuals
0             nuclear4climate              sassoui
1                  usafricabf                 nrcg
2                triplepundit               sassou
3                  i7uiizconb              nguesso
4                     danfoss         opchemtrails
5                 phcouillard   climateengineering
6                        coil            opchempba
7                      fridge               guesso
8                      natgas  exposingclimategate
9                      veolia       geoengineering